<!-- <h1> Enter a URL </h1>
<h2>Can You see this <%= @title %></h2>

<form action='/form' method = "post">
	<input type ="text" name ="url" placeholder="url">
	<input type= "submit">
</form> -->

<strong>Until I fix this, don't forget to include http:// in the URL </strong>

  <form class="form-inline" role="form" action="/" method="post">
    <div class="form-group">
	    <input type="url" class="form-control" name="content" placeholder="Enter URL"></textarea>
	    <input type="submit" class="btn btn-default">
	  </div>
  </form>



