<!-- <h1> Enter a URL </h1>
<h2>Can You see this <%= @title %></h2>

<form action='/form' method = "post">
	<input type ="text" name ="url" placeholder="url">
	<input type= "submit">
</form> -->

<strong>Until I fix this, don't forget to include http:// in the URL </strong>
<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="URL"></textarea>
    <input type="submit">
  </form>
</section>


