<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Make this some kind of SEO title</title>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Page Markup</a></h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small></a>.</small></p>
  </footer>
</body>
</html>