<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Make this some kind of SEO title</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">SEO Browser</a></h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>Tracy Mu Cake Eater Made This</a>.</small></p>
  </footer>
</body>
</html>